*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 820px;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    // border: 1px solid red;
}

body{
    background-color: #EEEEEE;
}


//mixin elements here

@mixin a {
     text-decoration: none; 
     font-family: sans-serif;
     margin-right: 15px;
     color: #009688;
     font-weight: bold;
}

@mixin content {
    display: inline-block;
    width: 380px;
    background-color: #fff;
    border-radius: 3px;
    margin-top: 40px;
}

@mixin text {
    font-family: sans-serif;
    font-size: 14px;
}

@mixin top {
    background-color: #009688;
    color: #fff;
    // display: inline-block;
    width: 100%;
            
}


.left{
    // width: 50%;
    // border: 1px solid yellow;
    display: inline-block;
    margin-right: 25px;
    .top{
        @include content();
        // border: 1px solid black;
        .main{
            @include top();
            h2{
                padding: 100px 50px 8px 20px;
            }
        }
        .text{
            @include text();
            padding: 20px;
        }
        .share{
            padding: 20px;
            a{
                @include a();
            }
        }
    }

    .middle{
        @include content();
        display: flex;
        .gray{
            background-color: #BBBBBB;
            width: 35%;
            float: left;
            display: inline-block;
        }
        .poach{
            width: 65%;
            display: inline-block;
            padding: 15px;
            font-family: sans-serif;
            p{
                @include text();
            }
            .poach-top{
                border-bottom: 1px solid gray;
                padding-bottom:30px ;
            }
            .poach-bottom  {
                padding: 25px 0 ;
                a{
                    @include a();
                }
            }          
        }
    }

    .bottom{
        @include content();
        padding: 20px;
        h1{
            color: #009688;
            font-family: sans-serif;
            margin-bottom   : 10px;
        }
        p{
            @include text();
            border-bottom: 1px solid gray;
            padding-bottom: 50px;
        }
        a{
            @include a();
            padding: 25px;
        }
    }
}

.right{
    // width: 50%;
    // border: 1px solid black;
    margin-left: 25px;
    .right_top{
       @include content();
       .pre_fab{
           @include top();
           background-color: #00BBD3;
           h1{
            padding: 100px 50px 8px 20px;
           }
        }
           .icons{
               padding: 10px;
               padding-left: 280px;
               ion-icon{
                //    flex: end;
                   padding: 5px;
                   color: black;
                //    background-color: #333;
                //    display: inline-block;
               }
           }
    }
    .right_middle{
        @include content();
        display: flex;
        background-color: transparent;
        .middle_left{
            margin-right: 12px;
            .left-top{
                background-color: #3E50B4;
                width: 180px;
                border-bottom: 1px solid gray;
                h1{
                    padding-top: 60px;
                    padding-left: 20px;
                    padding-right: 5px;
                    padding-bottom: 8px;
                    color: #fff;
                }
            }
            .icons{
                background-color: #fff;
                padding-left: 90px;
                // padding-bottom: 10px;
                ion-icon{
                    padding: 5px;
                }
            }
        }
    }
    .middle_right{
        .right-top{
            background-color: #009688;
            width: 180px;
            h1{
                padding: 60px 5px 8px 20px;
                color: #fff;
            }
        }
        .icons{
            background-color: #fff;
            padding-left: 90px;
            // padding-bottom: 10px;
            ion-icon{
                padding: 5px;
            }
        }
    }
}

.last{
    @include content();
    background-color: transparent;
    display: flex;
    .last_left{
        margin-right: 12px;
        .last-top{
            background-color: #3E50B4;
            width: 180px;
            color:#fff;
            h1{
                padding: 20px;
                color: #fff;
            }
            h5{
                display: inline-block;
                padding: 10px 50px 15px 20px;
            }
            hr{
                color: gray;
            }
        }
        .last-bottom{
            margin-top: 20px;
            background-color: #455A64;
            h1{
                padding: 10px;
                color: #fff;
            }
        }
    }

    .last_right{
        width: 180px;
        padding: 10px;
        padding-bottom: 0;
        color: #fff;
        background-color: #36474F;
        h3{
            padding-bottom: 5px;
        }
        input{
            display: inline-block;
            margin-right: 10px;
            color: #36474F;
            background-color: #36474F;
            margin-top: 15px;
        }
        hr{
            margin-top: 15px;
            margin-bottom: 45px;
        }
        h3{
            display: inline-block;
            margin-right: 70px;
        }
    }
}